.container {
    font: 12pt Arial;
  }

.padrao {
  text-align: justify;
  text-indent: 20pt;
}

.meio {
  text-align: center;
}

.dir {
  text-align: left;
}

.especial {
  background-color: rgba(242, 255, 0, 0.468);
}
