.background-area {
  width: 90%;
  height: 600px;
  background-color: lightgray;
  border: 1px solid black;
}

.area001 {
  background-image: url("../../../assets/Flower-Field-500x500px-Digital-Oil-Painting-49856252-1.png");
  background-repeat: repeat;
}

.area002 {
  background-image: url("../../../assets/Flower-Field-500x500px-Digital-Oil-Painting-49856252-1.png");
  background-repeat: repeat-x;
}

.area003 {
  background-image: url("../../../assets/Flower-Field-500x500px-Digital-Oil-Painting-49856252-1.png");
  background-repeat: repeat-y;
}

.area004 {
  background-image: url("../../../assets/Flower-Field-500x500px-Digital-Oil-Painting-49856252-1.png");
  background-repeat: no-repeat;
}
