.corpo {
    background-color: black;
    background-image: url('imagens/wallpaper002.jpg');
    background-repeat: repeat-y; 
    background-attachment: scroll;
    background-position: right bottom;
    background-size: cover;
    
    /* background: black url('imagens/wallpaper002.jpg') no-repeat fixed center center; */
    }
    
    .main {
    background-color: white;
    width: 400px;
    margin: auto;
    padding: 10px;
    }
    